<?xml version="1.0" encoding="utf-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dgut.community.mapper.NoticeMapper">
    <insert id="insert" parameterType="Notice">
        insert into notice (notifier,receiver,outerId,type,gmt_create,status,title,notifier_name) values (#{notifier},#{receiver},#{outerId},#{type},#{gmt_create},#{status},#{title},#{notifier_name})
    </insert>
    <select id="findNotice" parameterType="int" resultType="Notice">
        select * from notice where receiver=#{id} order by gmt_create desc
    </select>
    <select id="noticecount" parameterType="int" resultType="int">
        select count(1) from notice where receiver=#{id} and status=0
    </select>
    <update id="read" parameterType="int">
        update notice set status = 1 where id = #{id}
    </update>
    <update id="updateOuterID" parameterType="int">
        update notice set outerId = 0 where outerId = #{id}
    </update>
</mapper>