<?xml version="1.0" encoding="utf-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dgut.community.mapper.QuestionMapper">
<insert id="CreateQuestion" parameterType="com.dgut.community.entity.Question">
    INSERT INTO  question (title,content,creator,gmtCreate,gmtModified) VALUES(#{title},#{content},#{creator},#{gmtCreate},#{gmtModified});
</insert>
    <select id="list" resultType="Question">
         select u.*,q.* from user u, question q where u.username = q.creator
    </select>
</mapper>