<?xml version="1.0" encoding="utf-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dgut.community.mapper.QuestionMapper">
<insert id="CreateQuestion" parameterType="com.dgut.community.entity.Question">
    INSERT INTO  question (title,content,creator,gmtCreate,gmtModified) VALUES(#{title},#{content},#{creator},#{gmtCreate},#{gmtModified});
</insert>
    <select id="findByName" parameterType="String" resultType="Question">
         select * from question where creator=#{username}
    </select>
    <select id="findAll" resultType="Question">
        select * from question
    </select>
    <select id="findById" parameterType="int" resultType="Question">
        select * from question where id=#{id}
    </select>
    <update id="updatepublish" parameterType="Question">
        update question set title=#{title},content=#{content},category=#{category} where id=#{id}
    </update>
</mapper>