<?xml version="1.0" encoding="utf-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dgut.community.mapper.UserMapper">
    <select id="findUser" resultType="User">
        select u.*,r.* from user u, role r where account_id = #{account_id} and password = #{password} and u.role_type = r.role_type
     </select>
    <select id="findByName" parameterType="String" resultType="User">
        select * from user where username=#{username}
    </select>
    <select id="findByUserid" parameterType="int" resultType="User">
        select * from user where user_id=#{user_id}
    </select>
    <update id="updateAvatar">
        update user set avatar = #{avatar} where user_id = #{user_id}
    </update>
    <update id="updateinfo">
        update user set username=#{username},mail=#{mail} where user_id=#{id}
    </update>
    <select id="count" resultType="int">
        select count(*) from user
    </select>
    <select id="findByrole" resultType="User">
        select * from user where role_type=#{role} or role_type=#{stop}
    </select>
    <update id="changerole">
         update user set role_type=#{role} where user_id=#{id}
    </update>
    <delete id="deluser">
        delete from user where user_id=#{id}
    </delete>
    <select id="findByNameList" parameterType="String" resultType="User">
        select * from user where username like concat('%',#{username},'%')
    </select>
</mapper>